@model ProyectoPrograAvanzada.Models.TEmpleado

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar este registro?</h3>

<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Nombre del Empleado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-2">
            Correo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt class="col-sm-2">
            Teléfono
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt class="col-sm-2">
            Puesto del Empleado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Puesto)
        </dd>

        <dt class="col-sm-2">
            Rol del Usuario
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdRolNavigation.Rol)
        </dd>

        <dt class="col-sm-2">
            Sucursal
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSucursalNavigation.Nombre)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEmpleado" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
