@model ProyectoPrograAvanzada.Models.TEmpleado

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Nombre del Empleado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-2">
            Correo Electrónico
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt class="col-sm-2">
            Teléfono
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt class="col-sm-2">
            Contraseña
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contrasena)
        </dd>

        <dt class="col-sm-2">
            Puesto del Empleado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Puesto)
        </dd>

        <dt class="col-sm-2">
            Rol del Usuario
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdRolNavigation.IdRol)
        </dd>

        <dt class="col-sm-2">
            Sucursal
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSucursalNavigation.IdSucursal)
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEmpleado">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
