@model IEnumerable<ProyectoPrograAvanzada.Models.TEmpleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Empleados</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre del Empleado</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Contraseña</th>
            <th>Puesto del Empleado</th>
            <th>Rol del Usuario</th>
            <th>Sucursal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRolNavigation.IdRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSucursalNavigation.IdSucursal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEmpleado">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdEmpleado">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEmpleado">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
